<section id="2014" class="photos-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>2014尾牙照片</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center photos">
        
      </div>
    </div>
  </div>
</section>  

<% content_for :custom_js do %>
  <script src="js/jquery.lazyload.min.js"></script>
  <script>
  var html = '';
  for (var i = 121; i < 206; i++) {
    html += '<div class="col-sm-4 photo">';
    html += '<img data-original="photos/2013/DSC02'+ i +'.JPG" class="img-responsive lazy" alt="">';
    html += '</div>';
  };
  console.log(html);
  $(".photos").html(html);
  </script>
  <script>
    $(function() {
        $("img.lazy").lazyload();
    });
  </script>
<% end %>