<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="我們希望這個活動能夠成為台大資管大家庭一年一度歡聚的時刻。我們也希望系友們能夠藉這個機會，以認捐報名的方式回饋母系，襄助母系發展。">
<meta name="author" content="r02725021">

<!-- Facebook Open Graph -->
<meta property='og:title' content='2015 台大資管系應屆畢業生暨系友產學聯誼餐會'>
<meta property='og:site_name' content='台大資管系'>
<meta property='og:description' content='我們希望這個活動能夠成為台大資管大家庭一年一度歡聚的時刻。我們也希望系友們能夠藉這個機會，以認捐報名的方式回饋母系，襄助母系發展。'>
<meta property='og:image' content='http://i.imgur.com/nkHTYEH.jpg'>

<title>2015 台大資管系應屆畢業生暨系友產學聯誼餐會</title>

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

<link rel="shortcut icon" type="image/png" href="/favicon.png"/>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/ekko-lightbox.min.css" rel="stylesheet">
<link href="css/freelancer.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">


<!-- Custom Fonts -->
<link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">