<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="">
        <div class="intro-text">
          <span class="name">台大資管系應屆畢業生暨</br>系友產學聯誼餐會</span>
          <span class="slogan" style="font-size:1.3cm; font-family:Palatino Linotype;">IM Connected</span>
          <hr class="star-light">
          <p>隨著學期邁入尾聲，台大資管大學部及研究所應屆畢業生也即將揮別校園、踏入職場。此時，若能有機會與在職場的台大資管系友認識交流，對同學們的自我定位及未來方向都有莫大助益。為此，台大資管特別舉辦「應屆畢業生暨系友產學聯誼餐會」，邀請系友回母系分享職場經驗，拉近系友及學弟妹之間的距離。</p>
          <p>我們希望這個活動能夠成為台大資管大家庭一年一度歡聚的時刻。我們也希望系友們能夠藉這個機會，以認捐報名的方式回饋母系，襄助母系發展。因場地與時間的限制，我們僅能接受四十位系友報名。報名至一月五日或額滿為止。</p>
          <p>歡迎揪團一起回娘家，與老師們敘舊，也同時認識即將畢業、就業的學碩士班學弟妹，一起歡度台大資管系尾牙！</p>
          <span class="skills">Hope you come to join us and enjoy the gathering!</span>
        </div>
        <div class="row signup-row">
          <a href="./signup.html" class="btn">立即報名</a>
        </div>
      </div>
    </div>
  </div>
</header>

<header id="info">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive schedule-head-img" src="img/cake.png" alt="">
        <div class="intro-text">
          <span class="name">活動日期</span>
          <hr class="star-light">
          <ul class="info">
            <li>日期：2015 / 1 / 16（星期五）</li>
            <li>時間：下午3:00至7:00</li>
            <li>地點：管理學院壹號館 B1國學講堂</li>
      <li>報名日期：2015 / 1 / 5 截止<span class="or">或</span>額滿為止</li>
          </ul>
          <!--<hr class="star-light">

          <span class="skills">2015 / 1 / 5 截止<span class="or">或</span>額滿為止</span>-->
        </div><br>
     <div class="intro-text">
          <span class="name">匯款資訊</span>
          <hr class="star-light">
          <ul class="info">
            <li>帳號：154100007714</li>
            <li>戶名：王心如</li>
            <li>銀行：華南商業銀行 台大分行</li>
      <li>總行代碼：008</li>
          </ul>
          <!--<hr class="star-light">-->
      <br><br>
          <!--<span class="skills">2015 / 1 / 5 截止<span class="or">或</span>額滿為止</span>-->
      <span class="skills">如有任何問題，請聯繫張孟琦助教，<br>電話(02)33661200分機19，或來信mengchi@ntu.edu.tw</span>
        </div>
        <div class="row signup-row">
          <a href="signup.html" class="btn">立即報名</a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>歷年回顧</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 portfolio-item">
        <img src="photos/DSC02203.JPG" class="img-responsive" alt="">
      </div>
      <div class="col-sm-4 portfolio-item">
        <img src="photos/DSC02200.JPG" class="img-responsive" alt="">
      </div>
      <div class="col-sm-4 portfolio-item">
        <img src="photos/DSC02158.JPG" class="img-responsive" alt="">
      </div>
      <div class="col-sm-4 portfolio-item">
        <img src="photos/DSC02197.JPG" class="img-responsive" alt="">
      </div>
    </div>
    <div class="row more-photos">
      <div class="col-lg-12 text-center">
        <hr class="star-primary">
        <h2><a href="2013.html">更多歷年回顧</a></h2>
        <hr class="star-primary">

      </div>
    </div>
      
  </div> <!-- end of container -->
</section>