<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive schedule-head-img" src="img/cake.png" alt="">
        <div class="intro-text">
          <span class="name">活動日期</span>
          <hr class="star-light">
          <ul class="info">
            <li>日期：2015 / 1 / 16（星期五）</li>
            <li>時間：下午3:00至7:00</li>
            <li>地點：管理學院壹號館 B1國學講堂</li>
      <li>報名日期：2015 / 1 / 5 截止<span class="or">或</span>額滿為止</li>
          </ul>
          <!--<hr class="star-light">

          <span class="skills">2015 / 1 / 5 截止<span class="or">或</span>額滿為止</span>-->
        </div><br>
     <div class="intro-text">
          <span class="name">匯款資訊</span>
          <hr class="star-light">
          <ul class="info">
            <li>帳號：154100007714</li>
            <li>戶名：王心如</li>
            <li>銀行：華南商業銀行 台大分行</li>
      <li>總行代碼：008</li>
          </ul>
          <!--<hr class="star-light">-->
      <br><br>
          <!--<span class="skills">2015 / 1 / 5 截止<span class="or">或</span>額滿為止</span>-->
      <span class="skills">如有任何問題，請聯繫張孟琦助教，<br>電話(02)33661200分機19，或來信mengchi@ntu.edu.tw</span>
        </div>
        <div class="row signup-row">
          <a href="signup.html" class="btn">立即報名</a>
        </div>
      </div>
    </div>
  </div>
</header>